<div class="container">
  <div class="section">

    <div class="historia-container">
      <div>
        <img src="assets/balao.svg" alt="Sua história" width="60px" height="60px">
        <div class="historia">
          <h3>nos conte sua história</h3>
          <p>login com</p>
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-secondary btn-up" (click)="login()">Facebook</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>