<div class="post-entry mb-3">
  <div class="row no-gutters">
    <div class="col-8">
      <div class="post-text">
        <div class="post-title">{{ post.user.firstName }}</div>
        <div class="post-line">{{ post.occupation }}</div>
        
        <div class="post-hr"></div>
        <div class="post-line" [hidden]="!post.firstGraduated">Sou a(o) primeira(o) da família a me formar</div>

        <div class="post-hr"></div>

        <div class="post-subtitle">Criada(o) por</div>
        <div class="post-line">{{this.post.whoIAmToFamily}}</div>

        <div class="post-hr"></div>

        <div class="post-subtitle">Minha educação foi transformada com</div>
        <div class="post-line" *ngFor="let edu of post.eduPrograms">{{edu}}</div>

        <div class="post-footer my-3">Quero isso para mais {{ post.user.firstName }}s</div>

        <div class="text-right">
          <img src="assets/logo.png" alt="logo">
        </div>
      </div>
    </div>
    <div class="col-4 post-img" [ngStyle]="{'background-image': 'url(' + post.user.photoURL + ') '}"></div>
  </div>
</div>