<div class="container">
  <div class="section mb-3">
    Reunimos aqui as histórias de <strong>Brasileiras(os)</strong> que transformaram suas vidas através da <strong>educação</strong>
    com os projetos impulsionados e/ou criados durante a gestão de
    <strong>Haddad</strong> como <strong>Ministro da Educação.</strong> Até agora temos {{countPosts}} histórias.
    <div class="text-center my-3">
      <a routerLink="/contar" class="btn btn-primary">Conte-nos sua história</a>
    </div>
  </div>
  <div class="loading text-center my-3" [hidden]="!loading">
    Carregando histórias...
  </div>
  <div [hidden]="loading">
    <h3 class="title">Prazer, sou</h3>
    <app-post-entry [post]="post" *ngFor="let post of posts"></app-post-entry>
  </div>
  <div class="text-center mb-3">
    <button class="btn btn-secondary" (click)="getPosts()">Carregar mais histórias</button>
  </div>
</div>

<app-fab></app-fab>