<div class="container">
    <div class="section">
        <h3>Conte-nos sua história</h3>
    </div>
    <div *ngIf="post && user" class="post">
        {{this.user.name}}, {{this.user.age}} anos
        <form>
            <div class="form-group">
                <input class="form-control" name="post-whoiam" [(ngModel)]="post.occupation" placeholder="Digite sua ocupação" />
            </div>
            <div class="form-group">
                <label for="post-name">Criado (a) por:</label>
                <input class="form-control" name="post-whoaim-family" [(ngModel)]="post.whoIAmToFamily" placeholder="Fale dos seus responsáveis..."
                />
            </div>
            <div class="checkbox">
                <label>
                    <input (change)="firstGraduated = !firstGraduated" type="checkbox" data-toggle="toggle"> {{firstGraduatedValue}}
                </label>
            </div>
            <div class="form-group">
                <label for="post-name">Minha educação foi transformada com:</label>
                <div *ngFor="let option of eduProgramOptions">
                    <label>
                        <input type="checkbox" name="options" value="{{option.value}}" [(ngModel)]="option.checked" /> {{option.name}}
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="post-name">E sou contra:</label>
                <div *ngFor="let option of againstTo">
                    <label>
                        <input type="checkbox" name="options" value="{{option.value}}" [(ngModel)]="option.checked" /> {{option.name}}
                    </label>
                </div>
            </div>
        </form>
    </div>
    <div class="section">
        <div class="text-center">
            <button type="button" class="btn btn-secondary btn-up" (click)="createPost(post)">Próximo</button>
            <br>
            <button type="button" class="btn btn-link">Cancelar</button>
        </div>
    </div>
</div>