@import '../node_modules/bootstrap/scss/functions';
@import "assets/variables";
@import '../node_modules/bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

.section {
  padding: $spacer;
  background-color: $yellow;
  color: $white;
}

.section-lg {
  min-height: 100vh;
}

.main-container {
  padding-top: $spacer;
}

.btn-up {
  text-transform: uppercase;
}